<div class="page-body">

	<article class="about-section fade-in-1">
		<h2 class="blur glitch">ABOUT US</h2>
		<p>Prometheus Information Systems Corp. is an American IT corporation founded in early 2021 by a team of IT professionals located in different parts of the world. Although we are based out of Lewes, Delaware, we are a truly international company that serves clients and organizations all across the globe. The PISC team combines its passion for free and open source software, protection of privacy, immersion in the latest technological trends, and advanced internet security practices to give our clients a quality of service that cannot be found elsewhere.</p>

		<p>PISC is more than just a web development studio. We take a comprehensive approach to helping brands meet their needs at every level so they can stay competitive and allow their voice to be heard in a modern online setting. While we provide services to both individual clients and organizations of various sizes, we find that content creators and their communities as well as small businesses have the most to gain from our efforts. Because of our success at working with numerous online communities, we have been able to thrive and expand due to word of mouth and recommendations. If you believe that you too can benefit from working with us, please <a [routerLink]="['/contact']">contact us</a> and our dedicated team of developers and technicians would be happy to get in touch with you.</p>
	</article>

	<article class="about-section fade-in-2">
		<h2 class="blur glitch">OUR TEAM</h2>
		<div>
			<article class="flow">
			  <div class="team">
			    <ul class="auto-grid" role="list">
			      <li>
			        <a href="https://rickymolnar.com/" target="_blank" class="profile">
			          <h2 class="profile__name">Ricky Molnar</h2>
			          <p class="glitch">CEO/Founder</p>
			          <img alt="Ricky Molnar profile image" src="/assets/images/ricky-profile.jpg" />
			        </a>
			      </li>
			      <li>
			        <a href="https://johnben.net" target="_blank" class="profile">
			          <h2 class="profile__name">John Bennett</h2>
			          <p class="glitch">President/Co-Founder</p>
			          <img alt="John Bennett profile image" src="/assets/images/john-profile.jpg" />
			        </a>
			      </li>
			      <li>
			        <a href="https://evanmichael.link/" target="_blank" class="profile">
			          <h2 class="profile__name">Evan Henderson</h2>
			          <p class="glitch">IT Ops Lead</p>
			          <img alt="Evan Henderson profile image" src="/assets/images/yagi-profile.jpg" />
			        </a>
			      </li>
			      <li>
			        <a href="https://swop.link/cool" target="_blank" class="profile">
			          <h2 class="profile__name">Keon Gustav</h2>
			          <p class="glitch">Web Developer</p>
			          <img alt="Keon Gustav profile image" src="/assets/images/keon-profile.jpg" />
			        </a>
			      </li>
			    </ul>
			  </div>
			</article>
		</div>
	</article>

	<article class="about-section fade-in-3">
		<h2 class="blur glitch">OUR PARTNERS</h2>
		<p>
			1. <a href="https://shanghaiquju.com/">Shanghai Quju</a> - Since we work with organizations that produce and ship products all over the world, we have partnered with Shanghai Quju, an education technology company based out of Shanghai, China. Shanghai Quju works efficiently to solve the logistical problems involved with contacting manufacturers, ordering products, and delivering them to customers at the lowest cost to product quality ratio so that our clients can both satisfy their buyers and run a successful business.
		</p>
		<p>
			2. <a href="#">The Ignis Project</a> - The Ignis Project is the research and development lab of PISC that we use to develop new technology and innovative methods for solving the problems of today's internet. Ignis is currently operating with the goal of developing physical hardware as well as software for the purpose of distributing compact personal home server devices which will allow users to host and manage their own distributed social media an other web services without the need for relying on third-party companies.
		</p>
		<p>
			3. <a href="https://intkos.link/">Interkosmos Link</a> - Interkosmos Link is an international non-profit operator of private telecommunications suites and information technology protocols. IKL seeks to implement and propagate decentralized, open-source projects for a variety of applications and users. Through project application, IKL plans to provide opportunities for the employment of resources in training, testing, and development. PISC has partnered with IKL for the purpose of engaging in community development and establishing secure communications for users.
		</p>
		<p>
			4. <a href="#">Émigré Media</a> - Émigré Media is the up-and-coming news media and podcasting organization operated by PISC. Émigré has laid dormant as a project on hiatus waiting for the right time to shine and will be online soon.
		</p>
	</article>
</div>