<footer>
    <div class="social-notice text-center"><h6>All of our social media services use decentralized, free software hosted and managed internally by our research and development branch, The Ignis Project. We protect user privacy by enabling end-to-end encryption when possible and do not censor speech based on political views.</h6></div>

	<div id="copyright-box">
		<span class="d-flex justify-content-center">Copyright 2021 Prometheus Information Systems Corp. - All rights reserved</span>
	</div>
</footer>
