<footer>
    <div id="footer-links" class="container">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <ul>
                  <h3 class="glitch">SOCIAL LINKS</h3>
                  <li>Social media: <a href="https://social.prometheus.systems/">Pleroma</a></li>
                  <li>Secure text chat:<a href="https://chat.prometheus.systems/">Element</a></li>
                  <li>Voice and video chat: <a href="https://talk.prometheus.systems/">Jitsi</a></li>
                  <li>Video streaming: <a href="https://vid.prometheus.systems/">PeerTube</a></li>
				</ul>
            </div>


            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <ul>
        				  <h3 class="glitch">INTERNAL LINKS</h3>
				          <li>Ticketing system: <a href="https://support.prometheus.systems/">osTicket</a></li>
					        <li>Cloud: <a href="https://cloud.prometheus.systems/">Nextcloud</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <ul>
                 	<h3 class="text-center glitch"></h3>
                </ul>
            </div>
       </div>
    </div>

    <div class="social-notice text-center"><h6>All of our social media services use decentralized, free software hosted and managed internally by our research and development branch, The Ignis Project. We protect user privacy by enabling end-to-end encryption when possible and do not censor speech based on political views.</h6></div>

	<div id="copyright-box">
		<span class="d-flex justify-content-center">Copyright 2021 Prometheus Information Systems Corp. - All rights reserved</span>
	</div>
</footer>
