<script src="/assets/animations/console-underscore.js/"></script>

<div class="logo-wrapper">
	<h1 class="logo">
		<span class="glitch fade-in-text top-text" data-text="Prometheus">Prometheus</span><br/>
		<span class="bottom-text">INFORMATION SYSTEMS CORP.</span>
	</h1>
</div>



<div id="catchphrase" class="d-flex justify-content-center">
  <span id="console-text"></span>
  <div class="console-underscore" id="console-cursor">&#95;</div>
</div>

<div class="social-links">
  <h3>Our Apps</h3>
  <div class="social-grid">
    <a href="https://social.prometheus.systems/"  ><div class="social-button">Pleroma</div></a>
    <a href="https://vid.prometheus.systems/"     ><div class="social-button">Peertube</div></a>
    <a href="https://talk.prometheus.systems/"    ><div class="social-button">Jitsi</div></a>
    <a href="https://chat.prometheus.systems/"    ><div class="social-button">Element</div></a>
    <a href="https://music.prometheus.systems/"   ><div class="social-button">Funkwhale</div></a>
    <a href="https://cloud.prometheus.systems/"   ><div class="social-button">NextCloud</div></a>
  </div>
</div>


<div class="page-body fade-in-slow intro-text">
  <h2>WHAT WE DO</h2>

  <h3>SERVICES</h3>
  <div class="services-list">
    <div class="services-item">
      <h4>VIRTUAL PRIVATE SERVER</h4>
      <p>Unlimited Traffic, hosted on your own domain name,<br> pre-loaded with your choice of apps.</p>
    </div>

    <div class="services-item">
      <h4>GET CONNECTED</h4>
      <p>Get all of your social media connected from one place.<br>Contact us for details.</p>
    </div>

    <div class="services-item">
      <h4>DEDICATED SERVER</h4>
      <p>If you need a server all to yourself, contact us to discuss the details. Great for businesses, large communities, or people with a lot of data.</p>
    </div>

    <div class="services-item">
      <h4>BUILD A PLATFORM</h4>
      <p>Get a website on your own domain built by our team of professional web developers.<br>Contact us to schedule a consultation.</p>
    </div>

  </div>

  <h3>APPS</h3>
  <div class="app-list">

    <div class="app-item peertube-list">
      <h4>PEERTUBE</h4>
      <img src="/assets/images/peertube-screenshot.jpg">
      <p>A federated self-hosted video-hosting platform, where you can archive all of your videos, make livestreams, and not having to worry about what you say.</p>
    </div>

    <div class="app-item pleroma-list">
      <h4>PLEROMA</h4>
      <img src="/assets/images/pleroma-screenshot.png" class="list-image">
      <p>A lightweight microblogging federated social network, like a little blue bird where you have control.</p>
    </div>

    <div class="app-item">
      <h4>ELEMENT</h4>
      <img src="/assets/images/element-screenshot.png">
      <p>A federated encrypted messaging app where you can create communities and send direct messages without having to worry about third party ToS.</p>
    </div>

     <div class="app-item">
      <h4>JITSI</h4>
      <img src="/assets/images/jitsi-screenshot.png">
      <p>A self-hosted voice and video calling software, can be launched from your browser, your phone, and integrates with Element!</p>
    </div>

     <div class="app-item">
      <h4>FUNKWHALE</h4>
      <img src="/assets/images/funkwhale-screenshot.png">
      <p>A self-hosted music streaming software, own your high quality music and stream it anywhere. Can also host podcasts!</p>
    </div>

     <div class="app-item">
      <h4>NEXTCLOUD</h4>
      <img src="/assets/images/nextcloud-screenshot.png">
      <p>Your own personal cloud, for files, passwords, calendar and more!</p>
    </div>
  </div>

</div>
