<script src="/assets/animations/console-underscore.js/"></script>

<div class="logo-wrapper">
	<h1 class="logo">
		<span class="glitch fade-in-text top-text" data-text="Prometheus">Prometheus</span><br/>
		<span class="bottom-text">INFORMATION SYSTEMS CORP.</span>
	</h1>
</div>


	
<div id="catchphrase" class="d-flex justify-content-center">
  <span id="console-text"></span>
  <div class="console-underscore" id="console-cursor">&#95;</div>
</div>

<div class="page-body fade-in-slow intro-text">
	<h3 class="glitch lead-in">THE INTERNET HAS A PROBLEM</h3>
	<article class="home-section">Data centralization and networking oligarchies are killing diverse internet ecosystems and threatening individual human liberty. Big data corporations effectively <a href="https://www.newsweek.com/facebook-google-internet-traffic-net-neutrality-monopoly-699286">control approximately 70% of all internet traffic globally</a> and expand data-mining operations to every facet of the web. And it's only getting worse. This centralizing phenomenon is referred to by many as the "death of the web". Centralized, controlled networks provide privileged entities with inordinate amounts of power over our lives: determination over the information we consume, surveillance over our personal lives, and effective manipulation of our thoughts and behaviors. Essentially, internet technology corporations and the contemporary internet itself can be viewed as the privatization and commercialization of state surveillance.
	</article>


	<h3 class="glitch lead-in">THINGS NEED TO CHANGE</h3>
	<article class="home-section">If we cherish individual liberty and diversity of thought then we must strive towards developing sovereign, decentralized, self-sufficient means of communication and information sharing outside the control of central organs. We need to go back to how the internet used to be. We need to "build back better": a future that isn't comprised of apps; An internet where three domains don't control most users' browsing experience; Networks of communication free from surveillance and manipulation. We need to build the future of the internet we want—not the future governments and corporations are designing for us. If a people expect to be ignorant and free, in a state of civilization, they expect what never was and never will be. There is no safe deposit for liberty but with the people themselves; nor can the people safeguard liberty without information.
	</article>

	<h3 class="glitch lead-in">WE ARE WORKING TO MAKE A CHANGE</h3>
	<article class="home-section">
		Prometheus Information Systems Corp. is on the front lines fighting the battle to turn the web back into <a href="https://www.youtube.com/watch?v=OU6CuSMzNus">the free and open environment it once was</a>. We work with content creators, businesses, and communities to build new platforms for them and liberate their data and communication from the control of the major companies that dominate the web. PISC offers many professional, unique <a [routerLink]="['/services']">services</a> that can help achieve this goal. If you are interested in working with us, do not hestitate to <a class="glitch" [routerLink]="['/contact']">contact</a> us.
	</article>
</div>
